@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Dosis', sans-serif;
    display: block;
    text-align: center;
    margin: auto;
}

:root {
    --primary-color:#489FB5;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 2rem;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.heading {
    font-family: 'Press Start 2P', cursive;
}

#check-button {
    padding: 1rem;
    display: block;
    margin: auto;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


#date-of-birth {
    width: 20%;
    display: block;
    margin: auto;
}

#lucky-number {
    width: 20%;
    display: block;
    margin: auto;
}

#output-box {
    border: solid 2px var(--primary-color);
    padding: 1rem;
    width: 40%;
    margin: auto;
    margin-bottom: 2rem;
}

.footer{
    background-color: var(--primary-color);
    padding: 2rem 2rem;
    color: white;
    text-align: center;
    margin-top: 2rem;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 1rem;
}

.footer-heading{
    font-weight: bolder;
    font-size: large;
}

.footer .links{
    color: white;
}

.footer .ul{
    padding-inline-start: 0px;
}
